In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load 
city_data = "Resources/City_Data.csv"

# Read city weather data file and store into Pandas Data Frames
city_weather_data_df = pd.read_csv(city_data)

In [10]:
city_weather_data_df.head()

,City_ID,City,Country,Lat,Lng,Date,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,22.08,-159.32,1596406323,84.20,66,40,12.75
1,1,Upernavik,GL,72.79,-56.15,1596406323,44.08,69,93,6.62
2,2,Albany,US,42.60,-73.97,1596406324,87.01,65,47,9.80
3,3,Punta Arenas,CL,-53.15,-70.92,1596406043,39.20,80,24,6.93
4,4,Naze,JP,28.37,129.48,1596406216,82.40,78,40,9.17

In [11]:
# Set the path and file to save the html output
data_file_path = "assets/data.html"

# Create HTML from the DataFrame and save to file
html_file = city_weather_data_df.to_html(data_file_path, index=False, justify="left")